@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
 
*{
    margin: 0;
    padding: 0;
    inset: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(homeimage.jpg) no-repeat;
    background-size: 1300px 1050px;
    background-position: top center;
}

:root{
    --darkest: #025464;
    --dark-orange: #E57C23;
    --light-orange: #E8AA42;
    --lightest: #F8F1F1;
}

header{
    position: absolute;
    padding: 30px 50px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    animation: header 1000ms ease-out forwards;
}

@keyframes header{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

header nav ul{
    display: flex;
    background-color: transparent;
    transform: translateY(5px);
}

header nav ul li{
    margin-left: 80px;
    list-style: none;
}

header nav a{
    text-decoration: none;
    color: var(--lightest);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: 500ms;
}

.active{
    color: var(--dark-orange);
}

header nav ul a::after{
    content: '';
    position: absolute;
    background-color: var(--dark-orange);
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    transform: scale(0);
    transform-origin: right;
    transition: transform 500ms;
}

header nav ul a:hover::after{
    transform: scale(1);
    transform-origin: left;
}

.logo{
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
    transform: translateY(-2px);
    transition: color 500ms;
}

.logo:hover{
    color: var(--dark-orange);
}

.logo:hover .V{
    color: var(--lightest);
}

.logo:hover .E{
    color: var(--lightest);
}

.V{
    color: var(--dark-orange);
    font-size: 40px;
    transition: color 500ms;
}

.E{
    color: var(--dark-orange);
    font-size: 40px;
    transition: color 500ms;
}

.login{
    padding: 5px 20px;
    font-size: 18px;
    transform: translateY(-5px);
    cursor: pointer;
    border: var(--dark-orange) 1px solid;
    border-radius: 5px;
    background-color: transparent;
    color: var(--lightest);
    justify-content: center;
    align-items: center;
    transition: background-color 500ms,
                border 500ms;
}

.login:hover{
    background-color: var(--dark-orange);
    border: 1px var(--dark-orange)  solid;
}

.login:active{
    background-color: var(--light-orange);
    border: var(--light-orange) solid 1px;
}

.hero{
    padding: 350px 50px;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--lightest);
    font-size: 60px;
    font-weight: 700;
}

p{
    color: var(--lightest);
    font-weight: 500;
    font-size: 18px;
}
