@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

 
*{
    margin: 0;
    padding: 0;
    inset: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --darkest: #18122B;
    --dark-orange: #f7760d;
    --light-orange: #f1974d;
    --lightest: #F4EEE0;
    --box-shadow: #c9c9b3;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(homeimg.jpg) no-repeat;
    background-size: 1300px 1050px;
    background-position: top center;
    background-color: var(--lightest);
    position: relative;
}

header{
    position: absolute;
    padding: 30px 50px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    animation: header 1000ms ease-out forwards;
}

@keyframes header{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

header nav ul{
    display: flex;
    background-color: transparent;
    transform: translateY(5px);
}

header nav ul li{
    margin-left: 70px;
    list-style: none;
}

header nav a{
    text-decoration: none;
    color: var(--lightest);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: 500ms;
}

.active{
    color: var(--dark-orange);
}

header nav ul a::after{
    content: '';
    position: absolute;
    background-color: var(--dark-orange);
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    transform: scale(0);
    transform-origin: right;
    transition: transform 500ms;
}

header nav ul a:hover::after{
    transform: scale(1);
    transform-origin: left;
}

.logo{
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    transform: translateY(-2px);
    transition: color 500ms;
}

.logo:hover{
    color: var(--dark-orange);
}

.logo:hover .V{
    color: var(--lightest);
}

.logo:hover .E{
    color: var(--lightest);
}

.V, .E{
    color: var(--dark-orange);
    font-size: 35px;
    font-weight: 800;
    transition: color 500ms;
}

.login{
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 500;
    transform: translateY(-5px);
    cursor: pointer;
    border: var(--dark-orange) 1px solid;
    border-radius: 10px;
    background-color: transparent;
    color: var(--lightest);
    justify-content: center;
    align-items: center;
    transition: background-color 500ms,
                border 500ms,
                box-shadow 500ms;
}

.login:hover{
    background-color: var(--dark-orange);
    border: 1px var(--dark-orange)  solid;
    box-shadow: 0px 0px 10px var(--dark-orange);
}

.login:active{
    background-color: var(--light-orange);
    border: var(--light-orange) solid 1px;
    transition: none;
    box-shadow: 0px 0px 10px var(--light-orange);
}

.hero{
    padding: 350px 50px;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@keyframes hero{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h1{
    color: var(--lightest);
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    font-weight: 800;
    z-index: 1;
    animation: hero ease-out 1500ms forwards;
    margin-bottom: 10px;
}

p{
    color: var(--lightest);
    font-weight: 500;
    z-index: 1;
    font-size: 20px;
    animation: hero ease-out 1500ms forwards;
}

.herobutton{
    padding: 5px 20px;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
    border: var(--dark-orange) 1px solid;
    border-radius: 10px;
    background-color: var(--dark-orange);
    color: var(--lightest);
    justify-content: center;
    z-index: 1;
    align-items: center;
    animation: hero ease-out 1500ms forwards;
    transition: background-color 500ms,
                border 500ms,
                box-shadow 500ms,
                transform 300ms;
}

.herobutton:hover{
    background-color: var(--dark-orange);
    border: 1px var(--dark-orange)  solid;
    box-shadow: 0px 0px 10px var(--dark-orange);
    transform: translateY(-3px);
}

.herobutton:active{
    background-color: var(--light-orange);
    border: var(--light-orange) solid 1px;
    transition: none;
    box-shadow: 0px 0px 10px var(--light-orange);
}

.section1{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.section1 h1{

    align-content: center;
    color: var(--darkest);
    vertical-align: middle;
    background-color: transparent;
    margin-top: 230px;
    font-weight: 800;
    font-size: 50px;
}


.offers{
    z-index: 1;
    background-color: transparent;
    margin-top: 1300px;
    position: absolute;
    display: flex;
    cursor: pointer;
    justify-content: center;
    gap: 60px;
    width: 100%px;
}

.offer1,
.offer2,
.offer3{
    background-color: var(--lightest);
    text-align: center;
    height: 350px;
    width: 350px;
    border-radius: 15px;
    color: var(--darkest);
    position: relative;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 5px 5px 15px var(--box-shadow);
}

.offer1:hover,
.offer2:hover,
.offer3:hover{
    
}

.offer1 p,
.offer2 p,
.offer3 p{
    color: var(--darkest);
    position: relative;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 20px 20px 20px;
}

.offer1 .offerdescription1,
.offer2 .offerdescription2,
.offer3 .offerdescription3{
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    color: var(--darkest);
    position: relative;
}
